dataset/*
.DS_Store
__pycache__
*.gz
*.log
*.fls
*.aux
*.fdb_latexmk
*.xml
*.bcf
*.out
*.toc
.DS_Store
.vscode
*_gitignore*
*_gitignore/
*.synctex.gz
*.blg
*.bbl
features/raw/features_images_1_(80, 80)_mfcc_spectrogram_mel_spectrogram.pt
features/raw/features_images_1_(50, 50)_mfcc_spectrogram_mel_spectrogram.pt
